## exports
export(
  lmExact,
  lmInfl,
  lmPlot,
  pvalPlot,
  inflPlot,
  slsePlot,
  stability,
  lmMult,
  multPlot,
  simInfl
)

## imports
importFrom("graphics", "abline", "grid", "legend", "par", "plot", "points",
           "axTicks", "lines", "segments", "barplot")
importFrom("stats", "coef", "lm", "optim", "residuals", "rnorm", "influence.measures",
           "cor", "na.omit", "predict", "pt", "qt", "model.frame", "dt", "rt",
           "df.residual", "integrate")
importFrom("utils", "data", "flush.console")
importFrom("grDevices", "rainbow")

## S3 methods



